.DS_Store
para-nmt-5m-processed.txt
para-nmt-5m-processed-ref.txt
para-nmt-5m-processed-para.txt
.vscode/
phrase-table-filtered-0.6.txt
phrase-table.paraphrase.for_train.ref-para
__pycache__/
train-para-mica-output.txt
train-ref-mica-output.txt
test-ref-mica-output.txt
test-para-mica-output.txt
test-opennmt-mica-output.txt
Moses-for-Mere-Mortals-1.23/
MMM/